@font-face {
    font-family: Phosphorus;
    src: url(fonts/Phosphorus.ttf.woff);
  }

body{
    background-color: #FF0000;
}

#odometer{
    margin: auto;
    font-family: Phosphorus;
    font-size:40vw;
    text-align: center !important;
    color: #FFE100;
    display:block !important;
}

#truePopeCount{
    margin: auto;
    font-family: Phosphorus;
    font-size:4vw;
    text-align: center !important;
    color: #FFE100;
    display:block !important;
}


#truePopeCount a{
    color:white;
}

#truePopeCount a:visited{
    color:white;
}